*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 60%;
 box-shadow: 5px 2px 30px 20px #20DA29;
    
  margin: 60px auto;

}
.right h1{
    margin-bottom: 30px;
}


input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:white;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    margin-bottom: 20px;
  }
  /* input:focus,
  input:active {
    border-color: transparent;
    border-bottom: 1px solid #1c87c9;
  } */
  button{
    padding: 10px 40px  ;
    background-color: darkcyan;
    border: none;
    margin-bottom: 50px;
    margin-top: 20px;
    color: white;
  }
  .fa-facebook-square{
    font-size: 50px;
    background-color:white;
    color:darkblue;
  }
  .fa-twitter-square{
    font-size: 50px;
    background-color:white;
    color:  darkcyan;
  }
  .fa-google{
    font-size: 50px;
    background-color:red;
    color: white
  }
  .img{
    height: 350px;
  }
  .left{
    margin-top: 50px;
  }
  .right{
    margin-top: 80px;
  }